@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

/*************************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL/DEFAULT STYLES
 * 2. HEADER
 * -- 2a. Site name and logo
 * -- 2b. Navigation
 * 3. MAIN CONTENT
 * -- 3a. Hero
 * -- 3b. Other sections
 * 4. FOOTER
 * -- 4a. Navigation
 *************************************************************/

/* 1. GENERAL/DEFAULT STYLES */
:root {
  --accent-color: #E0376A;
  --second-accent-color: #000;
}

html {
  box-sizing:border-box;
  font:300 1em "Open Sans",sans-serif;
}
*, *::before, *::after {
  box-sizing:inherit;
}
body {
  margin:0;
}
.content-wrapper {
  max-width:1300px; /* do not exceed 1300px width */
  margin:0 auto; /* auto left/right margins = auto-centering */
  padding:0 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family:"Lato",sans-serif;
  font-weight:900;
  text-transform:uppercase;
}
h2 {
  font-size:1.5em; /* 24px */
  margin-top:0;
}
a {
  color:var(--accent-color);
}
a:hover {
  text-decoration:none;
}
a.button, button {
  background-color:var(--second-accent-color);
  border-radius:10px;
  color:#fff;
  text-decoration:none;
  font-size:0.9375em; /* 15px */
  padding:12px;
  margin-top:27px;
  display:inline-block;
  min-width:153px;
}
a.button:hover, button:hover {
  background-color:var(--accent-color);
}
.pink-bg {
  background-color:var(--accent-color);
}
.pink-bg a.button:hover,
.pink-bg button:hover {
  background-color:var(--second-accent-color);
  color:var(--accent-color);
}

/* 2. HEADER */
#header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#header a {
  color:var(--second-accent-color);
  text-decoration:none;
  font-family:"Lato",sans-serif;
  text-transform:uppercase;
}

/* -- 2a. Site name and logo */
#logo-and-site-name {
  font-size:2em; /* 32px / 16px = 2 */
  margin:1.125em 0;
}
#logo::before {
  content:"(^._.^)";
  color:var(--accent-color);
  margin-right:12px;
}

/* -- 2b. Navigation */
#main-navigation {
  font-size:1.5em; /* 24px / 16px = 1.5 */
}
.menu {
  display:flex;
  list-style:none;
  margin:0;
  padding:0;
  column-gap:1.615em; /* 38.75px / 24px = 1.615 */
}

/* 3. MAIN CONTENT */

/* -- 3a. Hero */
.hero-wrapper {
  background:linear-gradient(to right, #000, #272322);
}
.hero-text {
  background:url("../images/black-cat.png") center center no-repeat;
}
.hero-text h1 {
  margin:0;
  color:#fff;
  font-size: 6em; /* 96px / 16px = 6 */
  text-shadow:5px 5px 0 var(--accent-color);
  padding:1.27em 0; /* 122px / 96px = 1.27 */
}

/* -- 3b. Other sections */
#join-us-section {
  text-align:center;
  padding: 4.25em 0 4.75em 0; 
}
.feature-text {
  font-size:2em; /* 32px */
}
#join-us-section p {
  margin-bottom:0;
}
#learn-section {
  text-align:center;
}
#learn-section h3 a {
  color:#fff;
  text-decoration:none;
}
#learn-section > .content-wrapper {
  display:flex;
  column-gap:20px;
  flex-flow:row wrap;
}
#learn-section h2 {
  flex:1 0 100%;
}
.col {
  flex:1 1 0;
}

/* 4. FOOTER */

/* -- 4a. Navigation */