nav ul {
  list-style:none;
  margin:0;
  padding:0;
}
.inline-menu {
  display:flex;
  gap:3em;
  align-items:flex-start; /* align to the top and collapse heights if they're short */
}
.inline-menu li {
  position:relative;
}
.inline-menu ul {
  position:absolute;
  left:-10000px; /* move very far to the left */
  width:150px;
  background-color:#ddd;
}
/* > means child */
.inline-menu li:hover > ul {
  left:0;
}
.inline-menu ul li:hover > ul {
  left:100%;
  top:0;
}
